fastapi
uvicorn
pydantic
python-multipart
androguard
httpx
pytest
aiofiles
stix2
frida
frida-tools
# Persistence layer
aiosqlite
databases
# Auth
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
# Async extras
anyio

# AI Explorer
google-genai
python-dotenv

# Enterprise Analysis Depdendencies
pytesseract
Pillow
yara-python
